<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>
    <!-- <h1>Here are your users:</h1>
    <ol>
    {% for user in users%}
        
            <li>
                User Info:
                <ul>
                    <li>First Name: {{ user.first_name}}</li>
                    <li>Last Name: {{ user.last_name}}</li>
                    <li>Email: {{ user.email}}</li>
                </ul>
            </li>
        
    {% endfor %}
    </ol> -->

    <div class="container">
        
            <h1>Please Sign Up here!</h1>
            <form action="" method="POST">
                {{ form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        
    </div>

    
</body>
</html>